@font-face {
    font-family: Pragmatica Ext Book;
    src: url("Pragmatica Ext Book Reg.otf") format("opentype");
}

a {
    text-decoration: none;
    color:#d6528d;
}

p{
    font-family: Pragmatica Ext Book;
    padding-left:10px;
    padding-right:10px;
    text-indent:45px;
    line-height:2;
}

article{
    margin:auto;
    width:45%;
    border:1px solid black;
}

h1, h2{
    text-align:center;
    margin-top:0;
}

h1{
    font-size:24pt;
}

h2{
    color:#d6528d;
}

.more{
    padding-right:60px;
    padding-bottom:20px;
    font-weight:bold;
    text-align:right;
    color:#d6528d;
}

strong{
    color:#388020;
}