nav {
  background: #ffffff;
  padding: 15px 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav ul li {
  padding: 0 30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

li a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

li a:hover {
  text-decoration: underline;
}